# Lab | Data Cleaning and Formatting

Objective: Apply Python programming to perform data cleaning and formatting, including identifying and handling with missing values, duplicates, outliers, errors, and using various formatting techniques such as changing data types, renaming columns, and handling string values, to prepare data for analysis.

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

In [63]:
# Your code here
import numpy as np
import pandas as pd

In [64]:
df = pd.read_csv('Week2_2023.06.05_file1.csv')
df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [65]:
df.rename(columns={'GENDER':'Gender'}, inplace=True)

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they contain only valid data. For example, the gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

### INSERTING PART 1 OF EXERCISE 4 HERE

In [66]:
#print(df.isnull())
for col in df:
    print(df[col].isnull())

0       False
1       False
2       False
3       False
4       False
        ...
4003     True
4004     True
4005     True
4006     True
4007     True
Name: Customer, Length: 4008, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
4003     True
4004     True
4005     True
4006     True
4007     True
Name: ST, Length: 4008, dtype: bool
0        True
1       False
2       False
3       False
4       False
        ...
4003     True
4004     True
4005     True
4006     True
4007     True
Name: Gender, Length: 4008, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
4003     True
4004     True
4005     True
4006     True
4007     True
Name: Education, Length: 4008, dtype: bool
0        True
1       False
2       False
3       False
4       False
        ...
4003     True
4004     True
4005     True
4006     True
4007     True
Name: Customer Lifetime Value, Length: 4008, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
4003     True
4004     True
4005     True
4006     True
4007     True
Name: Income, Length: 4008, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
4003     True
4004     True
4005     True
4006     True
4007     True
Name: Monthly Premium Auto, Length: 4008, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
4003     True
4004     True
4005     True
4006     True
4007     True
Name: Number of Open Complaints, Length: 4008, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
4003     True
4004     True
4005     True
4006     True
4007     True
Name: Policy Type, Length: 4008, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
4003     True
4004     True
4005     True
4006     True
4007     True
Name: Vehicle Class, Length: 4008, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
4003     True
4004     True
4005     True
4006     True
4007     True
Name: Total Claim Amount, Length: 4008, dtype: bool

In [67]:
# Your code here
print(df["Gender"].head())

0    NaN
1      F
2      F
3      M
4      M
Name: Gender, dtype: object

In [68]:
print(df["Gender"].unique())

[nan 'F' 'M' 'Femal' 'Male' 'female']

In [69]:
def clean_gender(x):
    if x in ['M', 'MALE',"male"]:
        return 'Male'
    elif x in ['F', 'female',"Femal"]:
        return 'Female'
    #elif x in ['U','J','A']:
     #   return 'U'
    else:
        return np.nan
    
df["Gender"] = df['Gender'].apply(clean_gender)
df = df.dropna()

In [70]:
print(df["Gender"].unique())

['Female' 'Male']

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

In [71]:
for col in df:
    print(df[col].dtype)
print(df.dtypes)

object
object
object
object
object
float64
float64
object
object
object
float64
Customer                      object
ST                            object
Gender                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [72]:
# change column data types
df['Customer'] = pd.Categorical(df.Customer)
df['ST'] = pd.Categorical(df.ST)
df['Gender'] = pd.Categorical(df.Gender)
df['Education'] = pd.Categorical(df.Education)
df['Policy Type'] = pd.Categorical(df["Policy Type"])
df['Vehicle Class'] = pd.Categorical(df["Vehicle Class"])
df['Number of Open Complaints'] = pd.Categorical(df["Number of Open Complaints"])
df['Customer Lifetime Value'] = df['Customer Lifetime Value'].str.replace("%", "")

In [73]:
# describe types, categories and ranges of dataframe
for col in df:
    if df[col].dtype.name == "category":
        print("there are " + str(df[col].unique().size) + " unique values in the categorical " + str(col) + " column")
    if(df[col].dtype == 'float64'):
        rangeValue = str(df[col].max() - df[col].min())
        print("the range of the " + str(col) + " column is " + str(rangeValue))

there are 913 unique values in the categorical Customer column
there are 8 unique values in the categorical ST column
there are 2 unique values in the categorical Gender column
there are 6 unique values in the categorical Education column
the range of the Income column is 99934.0
the range of the Monthly Premium Auto column is 35293.0
there are 6 unique values in the categorical Number of Open Complaints column
there are 3 unique values in the categorical Policy Type column
there are 6 unique values in the categorical Vehicle Class column
the range of the Total Claim Amount column is 2892.857571

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the isnull() function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (we haven't studied this yet)

Implement your chosen strategy to handle the null values. You can use the fillna() function in pandas to fill null values or dropna() function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the isnull() function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers using applymap.

Save the cleaned dataset to a new CSV file.

### PART 2 of Exercise 4 - reformat float to int

In [74]:

#for col in df:
#    if(df[col].dtype == 'float64'):
#        df[col] = df[col].astype(dtype = 'int64')

# using applymap
df = df.applymap(lambda x:int(x) if type(x) == float else x)        
        
print(df.dtypes)

Customer                     object
ST                           object
Gender                       object
Education                    object
Customer Lifetime Value      object
Income                        int64
Monthly Premium Auto          int64
Number of Open Complaints    object
Policy Type                  object
Vehicle Class                object
Total Claim Amount            int64
dtype: object

In [75]:
# df.shape[0] #  see TODO in notes

913

## Exercise 5: Dealing with duplicates

Use the .duplicated() method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the drop_duplicates() function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using .duplicated().

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

In [81]:
# Your code here
df_nonDup = df.drop_duplicates(keep="first")
df_nonDup.shape[0]
#df.duplicated

913

In [82]:
df.to_csv("Week2_2023.06.05_file1_cleaned.csv", sep=',') ### STATES ARENT CLEANED HERE

# Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting. 

Write these functions in a separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

### WILL COMPLETE LATER

# Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we tried to do work with that column, we wouldn't have been able to do it because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, lets get some more interesting insights!

Instructions:

- Review again the statistics for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the .describe() method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here