# Lab | Pandas

Objective: practice how to use the pandas library in Python for data analysis and manipulation.

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [127]:
# Your code here
import pandas as pd
df = pd.read_csv("file1.csv")

In [81]:
#print(df.head())
print(df.iloc[:2,:])

  Customer          ST GENDER Education Customer Lifetime Value  Income  \
0  RB50392  Washington    NaN    Master                     NaN     0.0
1  QZ44356     Arizona      F  Bachelor              697953.59%     0.0

   Monthly Premium Auto Number of Open Complaints    Policy Type  \
0                1000.0                    1/0/00  Personal Auto
1                  94.0                    1/0/00  Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935

In [82]:
#print(df.columns)
print(df.dtypes)
#print(df.shape)

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [128]:
df['Customer'] = pd.Categorical(df.Customer)
df['ST'] = pd.Categorical(df.ST)
df['GENDER'] = pd.Categorical(df.GENDER)
df['Education'] = pd.Categorical(df.Education)
df['Policy Type'] = pd.Categorical(df["Policy Type"])
df['Vehicle Class'] = pd.Categorical(df["Vehicle Class"])
df['Number of Open Complaints'] = pd.Categorical(df["Number of Open Complaints"])
df['Customer Lifetime Value'] = df['Customer Lifetime Value'].str.replace("%", "")
df['Customer Lifetime Value'] = df['Customer Lifetime Value'].astype(dtype = 'float64')

In [75]:
print(df.dtypes)

Customer                       object
ST                           category
GENDER                       category
Education                    category
Customer Lifetime Value       float64
Income                        float64
Monthly Premium Auto          float64
Number of Open Complaints      object
Policy Type                  category
Vehicle Class                category
Total Claim Amount            float64
dtype: object

In [76]:
print(df.shape)

(4008, 11)

In [129]:
# unique values per categorical column and ranges per float column
for col in df:
    if df[col].dtype.name == "category":
        print("there are " + str(df[col].unique().size) + " unique values in the categorical " + str(col) + " column")
    if(df[col].dtype == 'float64'):
        rangeValue = str(df[col].max() - df[col].min())
        print("the range of the " + str(col) + " column is " + str(rangeValue))

there are 1072 unique values in the categorical Customer column
there are 9 unique values in the categorical ST column
there are 6 unique values in the categorical GENDER column
there are 7 unique values in the categorical Education column
the range of the Customer Lifetime Value column is 5616220.279999999
the range of the Income column is 99960.0
the range of the Monthly Premium Auto column is 35293.0
there are 7 unique values in the categorical Number of Open Complaints column
there are 4 unique values in the categorical Policy Type column
there are 7 unique values in the categorical Vehicle Class column
the range of the Total Claim Amount column is 2892.857571

In [130]:
# summary stats per float column
for col in df:
    if(df[col].dtype == 'float64'):
        print(df[col].describe())

count    1.068000e+03
mean     7.936903e+05
std      6.434784e+05
min      2.004351e+05
25%      4.034080e+05
50%      5.881742e+05
75%      8.962872e+05
max      5.816655e+06
Name: Customer Lifetime Value, dtype: float64
count     1071.000000
mean     39295.701214
std      30469.427060
min          0.000000
25%      14072.000000
50%      36234.000000
75%      64631.000000
max      99960.000000
Name: Income, dtype: float64
count     1071.000000
mean       193.234360
std       1601.190369
min         61.000000
25%         68.000000
50%         83.000000
75%        109.500000
max      35354.000000
Name: Monthly Premium Auto, dtype: float64
count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64

In [131]:
df = df.dropna()
df["Income"] = df["Income"].astype(dtype = "int64")
print(df["Income"])

1           0
2       48767
3           0
4       36357
5       62902
        ...
1066    38644
1067    63209
1068    16061
1069    79487
1070    54230
Name: Income, Length: 952, dtype: int64

In [132]:
# summary stats per float column
for col in df:
    if(df[col].dtype == 'category'):
        print(df[col].describe())

count         952
unique        952
top       AA71604
freq            1
Name: Customer, dtype: object
count        952
unique         8
top       Oregon
freq         276
Name: ST, dtype: object
count     952
unique      5
top         F
freq      456
Name: GENDER, dtype: object
count          952
unique           6
top       Bachelor
freq           284
Name: Education, dtype: object
count        952
unique         6
top       1/0/00
freq         746
Name: Number of Open Complaints, dtype: object
count               952
unique                3
top       Personal Auto
freq                689
Name: Policy Type, dtype: object
count               952
unique                6
top       Four-Door Car
freq                506
Name: Vehicle Class, dtype: object

Most income data points very small, extreme outliers present - hockeystick distribution.
Also large outlier with monthly auto premium.

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [145]:
# Your code here
df_counts = df["ST"].value_counts()

#Clean data
df["ST"] = df["ST"].replace({"Cali": "California"})
df["ST"] = df["ST"].replace({"WA": "Washington"})
df["ST"] = df["ST"].replace({"AZ": "Arizona"})
print(df["ST"].value_counts())

# already ordered - take 5 from last
df_counts = df["ST"].value_counts()
print(df_counts[-5:])

California    293
Oregon        276
Arizona       188
Washington    106
Nevada         89
Name: ST, dtype: int64
California    293
Oregon        276
Arizona       188
Washington    106
Nevada         89
Name: ST, dtype: int64
<class 'pandas.core.series.Series'>

### Exercise 2

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here

### Exercise 3

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [ ]:
# Your code here

### Exercise 4

The sales team wants to know if customers with Personal Auto have a income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [ ]:
# Your code here