# Lab | Data Aggregation and Filtering

Objective: Use Python programming techniques to filter and order data subsets, group data by one or more variables, and use aggregation functions to obtain insights, and derive meaningful conclusions from the data.

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing first data cleaning, formatting, and structuring.

Start by reading the dataset, standardizing column names, dealing with null values and creating the month column. You can do so by using the functions you developed in previous labs, or by reading the clean dataset you saved in the last lab `data structuring and combining`.

Then, answer the following questions:

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the median customer lifetime value by education level and gender.

5. Find the maximum, minimum, and average number of open complaints by state and policy type.

6. The marketing team wants to analyze the number of policies sold by state and month.

Present the data in a table where the months are arranged as columns and the states are arranged as rows.

7. Display a new DataFrame that contains the number of policies sold by month by state for the top 3 states with the highest number of policies sold.

*Hint:* 
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

8. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [1]:
import numpy as np
import pandas as pd

In [23]:
df = pd.read_csv("Week2_2023.06.06_Lab1_marketing_customer_analysis_clean.csv")
df.shape
df.response
df.columns

(10910, 26)

In [3]:
# 1. total_claim_amount greater than $1,000 
dfTotalClaimAmount1000 = df.loc[(df["total claim amount"]>1000) & (df["response"]=="Yes")].reset_index()
#dfTotalClaimAmount1000 = df[df["total claim amount"]>1000]

In [4]:
dfTotalClaimAmount1000.shape
#dfTotalClaimAmount1000

(67, 27)

In [5]:
# 2. total_claim_amount by each policy type and gender for customers who have responded "Yes"

dfYesResponse = df.loc[df["response"]=="Yes"]

In [12]:
dfYesResponseByPolicyTypeAndGender = dfYesResponse.groupby(["policy type","gender"], as_index = False)[["total claim amount"]].mean()
dfYesResponseByPolicyTypeAndGender

      policy type gender  total claim amount
0  Corporate Auto      F          433.738499
1  Corporate Auto      M          408.582459
2   Personal Auto      F          452.965929
3   Personal Auto      M          457.010178
4    Special Auto      F          453.280164
5    Special Auto      M          429.527942

In [13]:
# 3. total number of customers who have policies in each state, \n
# and then filter the results to only include states where there are more than 500 customers.
customersByState = df.groupby(["state"], as_index=False)[["customer"]].count()
customersByStateOver500 = customersByState[customersByState["customer"]>=500]
customersByStateOver500

        state  customer
0     Arizona      1937
1  California      3552
2      Nevada       993
3      Oregon      2909
4  Washington       888

In [14]:
# 4. Find the median customer lifetime value by education level and gender.
dfCustomerLifetimeValueByEducationAndGender = df.groupby(["education","gender"], as_index=False)[["customer lifetime value"]].median()
dfCustomerLifetimeValueByEducationAndGender

              education gender  customer lifetime value
0              Bachelor      F              5640.505303
1              Bachelor      M              5548.031892
2               College      F              5623.611187
3               College      M              6005.847375
4                Doctor      F              5332.462694
5                Doctor      M              5577.669457
6  High School or Below      F              6039.553187
7  High School or Below      M              6286.731006
8                Master      F              5729.855012
9                Master      M              5579.099207

In [15]:
# 5. Find the maximum, minimum, and average number of open complaints by state and policy type.
dfMeanComplaintsByStateAndPolicyType = dfYesResponse.groupby(["state","policy type"], as_index=False)[["number of open complaints"]].mean()
dfMaxComplaintsByStateAndPolicyType = dfYesResponse.groupby(["state","policy type"], as_index=False)[["number of open complaints"]].max()
dfMinComplaintsByStateAndPolicyType = dfYesResponse.groupby(["state","policy type"], as_index=False)[["number of open complaints"]].min()

In [16]:
print(dfMeanComplaintsByStateAndPolicyType)
print(dfMaxComplaintsByStateAndPolicyType)
print(dfMinComplaintsByStateAndPolicyType)

         state     policy type  number of open complaints
0      Arizona  Corporate Auto                   0.280702
1      Arizona   Personal Auto                   0.331754
2      Arizona    Special Auto                   0.615385
3   California  Corporate Auto                   0.320000
4   California   Personal Auto                   0.354749
5   California    Special Auto                   0.428571
6       Nevada  Corporate Auto                   0.357143
7       Nevada   Personal Auto                   0.486239
8       Nevada    Special Auto                   0.000000
9       Oregon  Corporate Auto                   0.262500
10      Oregon   Personal Auto                   0.322785
11      Oregon    Special Auto                   0.478261
12  Washington  Corporate Auto                   0.606061
13  Washington   Personal Auto                   0.256098
14  Washington    Special Auto                   1.142857
         state     policy type  number of open complaints
0      Arizona  Corporate Auto                        4.0
1      Arizona   Personal Auto                        5.0
2      Arizona    Special Auto                        3.0
3   California  Corporate Auto                        4.0
4   California   Personal Auto                        5.0
5   California    Special Auto                        3.0
6       Nevada  Corporate Auto                        3.0
7       Nevada   Personal Auto                        4.0
8       Nevada    Special Auto                        0.0
9       Oregon  Corporate Auto                        3.0
10      Oregon   Personal Auto                        5.0
11      Oregon    Special Auto                        4.0
12  Washington  Corporate Auto                        5.0
13  Washington   Personal Auto                        3.0
14  Washington    Special Auto                        4.0
         state     policy type  number of open complaints
0      Arizona  Corporate Auto                        0.0
1      Arizona   Personal Auto                        0.0
2      Arizona    Special Auto                        0.0
3   California  Corporate Auto                        0.0
4   California   Personal Auto                        0.0
5   California    Special Auto                        0.0
6       Nevada  Corporate Auto                        0.0
7       Nevada   Personal Auto                        0.0
8       Nevada    Special Auto                        0.0
9       Oregon  Corporate Auto                        0.0
10      Oregon   Personal Auto                        0.0
11      Oregon    Special Auto                        0.0
12  Washington  Corporate Auto                        0.0
13  Washington   Personal Auto                        0.0
14  Washington    Special Auto                        0.0

In [17]:
# 6. The marketing team wants to analyze the number of policies sold by state and month.
# Present the data in a table where the months are arranged as columns and the states are arranged as rows.
salesPerStateAndMonth = df.groupby(["state","month"], as_index = False)[["customer"]].count()
salesPerStateAndMonth

salesByStateAndMonthPivot = pd.pivot_table(salesPerStateAndMonth, values="customer", columns="month", index="state")
salesByStateAndMonthPivot

month          1     2
state
Arizona     1008   929
California  1918  1634
Nevada       551   442
Oregon      1565  1344
Washington   463   425

In [21]:
# 7. number of policies sold by month by state 
# for the top 3 states with the highest number of policies sold.
# group by state and month
salesPerStateAndMonth = df.groupby(['state', 'month'], as_index=False)['customer'].count()
salesPerStateAndMonth

        state  month  customer
0     Arizona      1      1008
1     Arizona      2       929
2  California      1      1918
3  California      2      1634
4      Nevada      1       551
5      Nevada      2       442
6      Oregon      1      1565
7      Oregon      2      1344
8  Washington      1       463
9  Washington      2       425

In [22]:
# Trying out aggregate funtion
salesPerStateAndMonth = df.groupby(['state', 'month'], as_index=False).agg(
    {
         'customer':"count"
    }
)
salesPerStateAndMonth

        state  month  customer
0     Arizona      1      1008
1     Arizona      2       929
2  California      1      1918
3  California      2      1634
4      Nevada      1       551
5      Nevada      2       442
6      Oregon      1      1565
7      Oregon      2      1344
8  Washington      1       463
9  Washington      2       425

In [20]:
# Trying out lambda funtion
salesPerStateAndMonth = df.groupby(['state', 'month'], as_index=False)[["customer"]].apply(lambda x:x.count())
salesPerStateAndMonth

        state  month  customer
0     Arizona      1      1008
1     Arizona      2       929
2  California      1      1918
3  California      2      1634
4      Nevada      1       551
5      Nevada      2       442
6      Oregon      1      1565
7      Oregon      2      1344
8  Washington      1       463
9  Washington      2       425

In [83]:
# Group by state to sort by state
salesSortedByState = salesPerStateAndMonth.groupby("state", as_index=False)['customer'].sum().sort_values("customer", ascending = False)
salesSortedByState

        state  customer
1  California       504
3      Oregon       419
0     Arizona       281
2      Nevada       140
4  Washington       122

In [71]:
# Select top three state by customers.
salesSortedByStateTop3 = salesSortedByState.iloc[:3,]
salesSortedByStateTop3List = list(salesSortedByStateTop3.iloc[:,0])
salesSortedByStateTop3List

['California', 'Oregon', 'Arizona']

In [75]:
# Filter dataframe by top three states.
salesSortedByStateAndMonthTop3 = salesPerStateAndMonth[salesPerStateAndMonth['state'].isin(salesSortedByStateTop3List)]
salesSortedByStateAndMonthTop3

        state  month  customer
0     Arizona      1       149
1     Arizona      2       132
2  California      1       303
3  California      2       201
6      Oregon      1       240
7      Oregon      2       179

In [87]:
# Order dataframe according to order of states
# Create the dictionary that defines the order for sorting
sorterIndex = dict(zip(salesSortedByStateTop3List, range(len(salesSortedByStateTop3List))))

# Generate a rank column that will be used to sort the dataframe numerically
salesSortedByStateAndMonthTop3['state_rank'] = salesSortedByStateAndMonthTop3['state'].map(sorterIndex)

salesSortedByStateAndMonthTop3Sorted = salesSortedByStateAndMonthTop3.sort_values('state_rank', ascending = True, inplace = False)
salesSortedByStateAndMonthTop3Sorted = salesSortedByStateAndMonthTop3Sorted.drop('state_rank', 1).reset_index(drop=True)
salesSortedByStateAndMonthTop3Sorted

C:\Users\Yan\AppData\Local\Temp/ipykernel_2384/1959418225.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salesSortedByStateAndMonthTop3['state_rank'] = salesSortedByStateAndMonthTop3['state'].map(sorterIndex)
C:\Users\Yan\AppData\Local\Temp/ipykernel_2384/1959418225.py:9: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  salesSortedByStateAndMonthTop3Sorted = salesSortedByStateAndMonthTop3Sorted.drop('state_rank', 1).reset_index(drop=True)

        state  month  customer
0  California      1       303
1  California      2       201
2      Oregon      1       240
3      Oregon      2       179
4     Arizona      1       149
5     Arizona      2       132

In [97]:
# 8. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.
# Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel
dfYesResponse.groupby('sales channel', as_index=False)['customer'].count()

  sales channel  customer
0         Agent       742
1        Branch       326
2   Call Center       221
3           Web       177