# Lab | Data Aggregation and Filtering

Objective: Use Python programming techniques to filter and order data subsets, group data by one or more variables, and use aggregation functions to obtain insights, and derive meaningful conclusions from the data.

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing first data cleaning, formatting, and structuring.

Start by reading the dataset, standardizing column names, dealing with null values and creating the month column. You can do so by using the functions you developed in previous labs, or by reading the clean dataset you saved in the last lab `data structuring and combining`.

Then, answer the following questions:

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the median customer lifetime value by education level and gender.

5. Find the maximum, minimum, and average number of open complaints by state and policy type.

6. The marketing team wants to analyze the number of policies sold by state and month.

Present the data in a table where the months are arranged as columns and the states are arranged as rows.

7. Display a new DataFrame that contains the number of policies sold by month by state for the top 3 states with the highest number of policies sold.

*Hint:* 
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

8. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [2]:
import numpy as np
import pandas as pd

In [110]:
df = pd.read_csv("Week2_2023.06.06_Lab1_marketing_customer_analysis_clean.csv")
df.shape
df.response
df.columns

Index(['Unnamed: 0', 'customer', 'state', 'customer lifetime value',
       'response', 'coverage', 'education', 'effective to date',
       'employmentstatus', 'gender', 'income', 'location code',
       'marital status', 'monthly premium auto', 'months since last claim',
       'months since policy inception', 'number of open complaints',
       'number of policies', 'policy type', 'policy', 'renew offer type',
       'sales channel', 'total claim amount', 'vehicle class', 'vehicle size',
       'month'],
      dtype='object')

In [64]:
# 1. total_claim_amount greater than $1,000 
dfTotalClaimAmount1000 = df.loc[(df["total claim amount"]>1000) & (df["response"]=="Yes")].reset_index()
#dfTotalClaimAmount1000 = df[df["total claim amount"]>1000]

In [65]:
dfTotalClaimAmount1000.shape

(67, 27)

In [42]:
#dfTotalClaimAmount1000

In [22]:
# 2. total_claim_amount by each policy type and gender for customers who have responded "Yes"

dfYesResponse = df.loc[df["response"]=="Yes"]

In [103]:
dfYesResponseByPolicyTypeAndGender = dfYesResponse.groupby(["policy type","gender"])[["total claim amount"]].mean()

In [104]:
dfYesResponseByPolicyTypeAndGender

                       total claim amount
policy type    gender
Corporate Auto F               433.738499
               M               408.582459
Personal Auto  F               452.965929
               M               457.010178
Special Auto   F               453.280164
               M               429.527942

In [101]:
# 3. total number of customers who have policies in each state, \n
# and then filter the results to only include states where there are more than 500 customers.

customersByState = dfYesResponse.groupby(["state"], as_index=False)[["customer"]].count()

#customersByState[customersByState["customer"]>=500]

#, "policy type"

        state  customer
1  California       504

In [124]:
# 4. Find the median customer lifetime value by education level and gender.

dfCustomerLifetimeValueByEducationAndGender = dfYesResponse.groupby(["education","gender"])[["customer lifetime value"]].median()
dfCustomerLifetimeValueByEducationAndGender
#customersByState = dfYesResponse.groupby(["state"], as_index=False)[["customer"]].count()
#customersByState[customersByState["customer"]>=500]

                             customer lifetime value
education            gender
Bachelor             F                   5246.278375
                     M                   5548.031892
College              F                   4834.710493
                     M                   5989.773931
Doctor               F                   4673.457903
                     M                   5073.282126
High School or Below F                   6503.397049
                     M                   6366.225775
Master               F                   5096.673223
                     M                   8509.850887

In [125]:
# 5. Find the maximum, minimum, and average number of open complaints by state and policy type.
dfMeanComplaintsByStateAndPolicyType = dfYesResponse.groupby(["state","policy type"])[["number of open complaints"]].mean()
dfMaxComplaintsByStateAndPolicyType = dfYesResponse.groupby(["state","policy type"])[["number of open complaints"]].max()
dfMinComplaintsByStateAndPolicyType = dfYesResponse.groupby(["state","policy type"])[["number of open complaints"]].min()

In [126]:
print(dfMeanComplaintsByStateAndPolicyType)
print(dfMaxComplaintsByStateAndPolicyType)
print(dfMinComplaintsByStateAndPolicyType)

                           number of open complaints
state      policy type
Arizona    Corporate Auto                   0.280702
           Personal Auto                    0.331754
           Special Auto                     0.615385
California Corporate Auto                   0.320000
           Personal Auto                    0.354749
           Special Auto                     0.428571
Nevada     Corporate Auto                   0.357143
           Personal Auto                    0.486239
           Special Auto                     0.000000
Oregon     Corporate Auto                   0.262500
           Personal Auto                    0.322785
           Special Auto                     0.478261
Washington Corporate Auto                   0.606061
           Personal Auto                    0.256098
           Special Auto                     1.142857
                           number of open complaints
state      policy type
Arizona    Corporate Auto                        4.0
           Personal Auto                         5.0
           Special Auto                          3.0
California Corporate Auto                        4.0
           Personal Auto                         5.0
           Special Auto                          3.0
Nevada     Corporate Auto                        3.0
           Personal Auto                         4.0
           Special Auto                          0.0
Oregon     Corporate Auto                        3.0
           Personal Auto                         5.0
           Special Auto                          4.0
Washington Corporate Auto                        5.0
           Personal Auto                         3.0
           Special Auto                          4.0
                           number of open complaints
state      policy type
Arizona    Corporate Auto                        0.0
           Personal Auto                         0.0
           Special Auto                          0.0
California Corporate Auto                        0.0
           Personal Auto                         0.0
           Special Auto                          0.0
Nevada     Corporate Auto                        0.0
           Personal Auto                         0.0
           Special Auto                          0.0
Oregon     Corporate Auto                        0.0
           Personal Auto                         0.0
           Special Auto                          0.0
Washington Corporate Auto                        0.0
           Personal Auto                         0.0
           Special Auto                          0.0

In [135]:
# 6. The marketing team wants to analyze the number of policies sold by state and month.
# Present the data in a table where the months are arranged as columns and the states are arranged as rows.
salesPerStateAndMonth = dfYesResponse.groupby(["state","month"], as_index = False)[["customer"]].count()
salesPerStateAndMonth

salesByStateAndMonthPivot = pd.pivot_table(salesPerStateAndMonth, values="customer", columns="state", index="month")
salesByStateAndMonthPivot

state  Arizona  California  Nevada  Oregon  Washington
month
1          149         303      79     240          72
2          132         201      61     179          50

In [139]:
# 7. number of policies sold by month by state 
# for the top 3 states with the highest number of policies sold.

salesPerStateAndMonth = dfYesResponse.groupby(["state","month"], as_index = False)[["customer"]].count()
salesPerStateAndMonth

# continued with aggregate or lambda function

#salesPerStateAndMonth.groupby('state')['customer'].sum()

        state  month  customer
0     Arizona      1       149
1     Arizona      2       132
2  California      1       303
3  California      2       201
4      Nevada      1        79
5      Nevada      2        61
6      Oregon      1       240
7      Oregon      2       179
8  Washington      1        72
9  Washington      2        50